body {
    margin: 1px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 48px;
    font-family: 'Lemon', serif;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large;
    font-family: 'Oswald', sans-serif;
}

#hCombo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large;
    font-family: 'Oswald', sans-serif;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: larger;
    font-family: 'Kanit', sans-serif;
}

.infoBttn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
}

#lower {
    background-color: FireBrick;
}

#higher {
    background-color: DarkGreen;
}

.twoButtons {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: aliceblue;
    border-radius: 15%;
    border: 2px solid black;
    font-size: 18px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    margin: 25px;
    font-family: 'Oswald', sans-serif;
}