body {
    margin: 1px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hCombo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.infoBttn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
}

#lower {
    color: aliceblue;
    background-color: FireBrick;
    padding: 20px;
    border-radius: 15%;
    border: 2px solid black;
    font-size: 16px;
}

#higher {
    color: aliceblue;
    background-color: DarkGreen;
    padding: 20px;
    border-radius: 15%;
    border: 2px solid black;
    font-size: 16px;
}